{%extends 'xxx/site_element/base.html'%}
{%block content%}
<style>
  .form-wrapper{
    display: flex;

  }
  .form-wrapper a{
    margin-left: 30px;
  }
  form button{
    margin: 20px 0;
  }
</style>


<div class="container">
    <h1>{{current_element}}</h1>
    <form method="POST">
      {%csrf_token%}
      {{ formset.management_form }}
      {%for form in formset%}
      <div class="form-wrapper">
        <div>{{form}}</div>
          <a href="{{form.site.value}}" target="_blank"> {{form.site.value}}</a>  
      </div>
      {%endfor%}
      
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
    

</div>
{%endblock%}
  
